@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes slideDown {
  0% {
    transform: scaley(0);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scaley(1);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: scaley(0);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scaley(1);
    opacity: 1;
  }
}
@-webkit-keyframes load {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes load {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
body {
  background-color: #E6E6E6;
  font-family: "Roboto", sans-serif;
}
body h3 {
  font-size: 16px;
  font-weight: bolder;
}
body p {
  font-size: 15px;
  font-weight: normal;
}

#contentBlock {
  max-width: 768px;
  margin: auto;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
}
header .divHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}
header a {
  position: absolute;
  left: 0;
  border: none;
  background-color: white;
  color: black;
}
header a i {
  font-size: 24px;
  padding-left: 15px;
}
header .logo {
  width: 150px;
  padding: 5px;
}

.div-background {
  width: 100%;
}

.backgroundImg {
  width: 100%;
  height: 350px;
}
.backgroundImg img {
  position: fixed;
  top: 0%;
  z-index: -10;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principalInfoRestaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 40px 40px 0 0;
  margin-top: -35px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.principalInfoRestaurant h1 {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  font-weight: normal;
  padding: 20px;
}

.fa-heart {
  font-size: 24px;
  padding-right: 15px;
}
.fa-heart--purple {
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 24px;
  font-weight: 900;
  padding-right: 15px;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.fa-heart:hover {
  opacity: 1;
}

.menuContainer {
  background-color: #f0f0f0;
  width: 100%;
}

.subMenuTitle {
  position: relative;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 20px;
  padding-bottom: 15px;
}
.subMenuTitle:after {
  content: " ";
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.subMenuType {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subMenuItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 94%;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.201);
  line-height: 1.4;
  overflow: hidden;
  cursor: pointer;
  margin: 16px 0;
  padding: 5px;
  -webkit-animation: slideDown 0.6s;
          animation: slideDown 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}
.subMenuItem-info, .subMenuItem h3, .subMenuItem p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.subMenuItem-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  margin: 30px;
}
.subMenuItem-price p {
  font-size: 16px;
  font-weight: bolder;
}
.subMenuItem-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  height: 100%;
  padding: 15px;
  width: 40px;
  margin-right: -80px;
  transition: margin-right 0.8s ease-in-out;
}
.subMenuItem-check .fa-check {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
  transition: all 1s;
  transform: rotate(180deg);
}
.subMenuItem:hover .subMenuItem-check {
  margin-right: -10px;
}
.subMenuItem:hover .fa-check {
  transform: rotate(0);
  transition-delay: 0.15s;
}

.animDelay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.animDelay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animDelay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.animDelay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animDelay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animDelay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animDelay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.animDelay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animDelay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.divBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
}

.btn {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 45px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.201);
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.685);
}
.btn a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #2e2e2e;
  padding: 25px;
}
footer h3 {
  color: white;
  font: lighter 20px "Shrikhand", cursive;
}
footer li {
  color: white;
  padding: 5px;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer li a i {
  width: 15px;
  padding-right: 13px;
}

@media only screen and (min-width: 900px) {
  #contentBlock {
    max-width: 1440px;
    margin: auto;
  }
  header {
    width: 100%;
  }
  .backgroundImg {
    width: 100%;
    height: 550px;
  }
  .backgroundImg img {
    position: fixed;
    top: 0%;
    z-index: -10;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .menuContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menuContainer section {
    width: 32%;
  }
  .subMenu {
    width: 100%;
  }
  .btn {
    margin: 50px;
  }
}/*# sourceMappingURL=sous-pages.css.map */