@import "../librairie/variables";

@import "../librairie/mixins";

@import "../librairie/reset";

@import "../librairie/keyframes.scss";

body {
    background-color: $greyBody;
    font-family: $main-font; 

    h3 {
        @include fontStyle (16px, bolder);
    }

    p {
        @include fontStyle (15px, normal);  
    } 
}

#contentBlock {
    @include global(768px);
}

header {
    width: 100%;
    background-color: $light;
    position: fixed;
    z-index: 1;
    top: 0;

    .divHeader {
        @include flexBox (row, center, center);
        position: relative;
        padding: 5px;
    }
    a {
        @include headerBtn;
        color: $dark;
    }

    .logo {
            width: 150px;  
            padding: 5px;      
    }   
}

.backgroundImg {
    @include backgroundImg (350px);   
}

.principal {
    @include flexBox (column, center, center);
}

.principalInfoRestaurant {
    @include flexBox (row, space-between, center);
    position: relative;
    width: 100%;
    background-color:$lightGrey;
    border-radius: 40px 40px 0 0;
    margin-top: -35px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    h1 {
        font-family: $title-font;
        @include fontStyle (24px, normal);
        padding: 20px;
    }
}

.fa-heart {
    font-size: 24px;
    padding-right: 15px;

    &--purple {
    position: absolute;
    top: 35px;
    right: 0;
    font-size: 24px;
    font-weight: 900;
    
    padding-right: 15px;
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s ease-in-out;
    opacity: 0;
    }
    
    &:hover{
        opacity: 1;
    }
}

.menuContainer {
    background-color: $lightGrey;
    width: 100%;
    
}

.menuContainer1 {
    animation: slideDown 1s;
}

.menuContainer2 {
    animation: slideDown 2s;
    
}

.menuContainer3 {
    animation: slideDown 3s;
    
}

.subMenuTitle {
    position: relative;
    @include fontStyle (18px, normal);
    text-transform: uppercase;
    margin: 20px;
    padding-bottom: 15px;

    &:after {
    content: " ";    
    width: 50px;
    height: 3px;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    }
}

.subMenuType {
    @include flexBox (column, space-between, center);
}
   
.subMenuItem {
    @include flexBox (row, flex-start, center);
    @include cardMenu;  
    overflow: hidden;
    cursor: pointer;
    margin: 16px 0;
    padding: 5px;
          
    &-info, h3, p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;      
    }
  
    &-price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        margin:30px;

        p {
            font-size: 16px;
            font-weight: bolder;
        }    
    }

    &-check {
        @include flexBox (row, center, center);
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;
        height: 100%;
        padding: 15px;
        width: 40px;
        margin-right: -80px;
        transition: margin-right 1s ease-in-out ;
        
        .fa-check {
            background-color: white;
            border-radius:50%;
            color: $tertiary;
            font-size: 20px;
            font-weight: bolder;
            padding: 5px;
            transition: all 1s;
            transform: rotate(180deg);
        }
    }

    &:hover  &-check {
        margin-right: -10px; 
    }

    &:hover .fa-check {
        transform: rotate(0);
        transition-delay: 0.15s;
    }
}

.divBtn {
    @include flexBox (row, center, center);
    width: 100%;
    background-color: $lightGrey;
}
.btn {
    @include gradientBtn (160px);
    
}

footer {
    @include footer;
}

@media only screen and (min-width:900px) {
    #contentBlock {
        @include global (1440px);
    }

    .backgroundImg {
        @include backgroundImg (450px);
        
    }

    .menuContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        section {
            width: 32%;
        }
    }

    .subMenu {
        width: 100%;
    }

    .btn {
        margin: 50px;
    }
}