@import "../librairie/variables";

@import "../librairie/mixins";

@import "../librairie/reset";

body {
    background-color: $greyBody;
    font-family: $main-font; 
}

#contentBlock {
    @include global;

    h1{
        font-family: $title-font;
        font-size: 28px;
        font-weight: normal;
    }
}

header {
    width: 100%;
    background-color: $light;

    .divHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 15px;
    }
    button {
        @include headerBtn;
        color: $dark;
    }

    .logo {
            width: 150px;  
            padding: 15px;      
    }   
}

.backgroundImg {
    @include backgroundImg;
    $image: url("../")
}

.principal {
    background-color: $lightGrey;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        width: 100%;
    }

    &Menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include cardMenu;   
    }

    h2 {
        padding: 12px;
        font-size: 18px;
    }
}

.principalInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:$lightGrey;
    border-radius: 40px 40px 0 0;
    margin-top: -35px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    h1, i {
        font-size: 26px;
        padding: 20px;
    }
}

.divBtn {
    display: flex;
    justify-content: center
}

.btn {
    @include gradientBtn;
    box-shadow: $shadow;
    margin: 15px;
}

footer {
    @include footer;
}