@import "../librairie/variables";

@import "../librairie/mixins";

@import "../librairie/reset";

body {
    background-color: $greyBody;
    font-family: $main-font; 

    h3 {
        @include fontStyle (16px, bolder);
    }

    p {
        @include fontStyle (15px, normal);  
        
        &.price {
            font-weight: bold;
        }

    } 
}

#contentBlock {
    @include global(768px);
}

header {
    width: 100%;
    background-color: $light;

    .divHeader {
        @include flexBox (row, center, center);
        position: relative;
        padding: 15px;
    }
    a {
        @include headerBtn;
        color: $dark;
    }

    .logo {
            width: 150px;  
            padding: 15px;      
    }   
}

.backgroundImg {
    @include backgroundImg (250px);
    
}

.principal {
    @include flexBox (column, center, center);
    background-color: $lightGrey;
    section {
        width: 100%;
    }

    &Menu {
        @include flexBox (column, center, star);
        @include cardMenu;   
    }

    h2 {
        @include fontStyle (18px, normal);
        padding: 12px;
        margin-left: 8px;
    }
}

.principalArticle {
    @include flexBox (column, space-between, center);
}

.principalInfo {
    @include flexBox (row, space-between, center);
    width: 100%;
    background-color:$lightGrey;
    border-radius: 40px 40px 0 0;
    margin-top: -35px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    h1 {
        font-family: $title-font;
        @include fontStyle (24px, normal);
        padding: 20px;
    }

    i {
        font-size: 22px;
        padding-right: 15px;
    }
}

.divBtn {
    display: flex;
    justify-content: center
}

.btn {
    @include gradientBtn;
    margin: 15px;
}

footer {
    @include footer;
}

@media only screen and (max-width:1440px) {
    #contentBlock {
        @include global (1440px);
    }

    .backgroundImg {
        @include backgroundImg (450px);
        
    }

    .principalSections {
        display: flex;
        width: 100%;
    }
}