@import "../librairie/variables";
@import "../librairie/mixins";
@import "../librairie/reset";

body {
    background-color: $greyBody;
    font-family: $main-font;

     
    h3 {
        @include fontStyle (16px, bolder);
    }

    p {
        @include fontStyle (16px, normal);  
    } 

}

#contentBlock {
    @include global (768px);
}

header {
    @include flexBox (row, center, center);
    width: 100%;
    background-color: $light;

    .logo {
        width: 200px;  
        padding: 15px;      
    }   
}

.localization {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    background-color: $greyBody;
    box-shadow: $shadowInset;

    i {
        padding-right: 10px;
    }
}

/*Partie présentation*/

.introduction {
    @include flexBox (column, center, center);
    max-width: 100%;
    background-color: $lightGrey;
    text-align: center;
    padding: 30px;
    h1 {
        @include fontStyle (28px, bolder);
        padding: 10px;
    }
}

.btn {
    @include gradientBtn;
}

/*Partie information sur l'APP*/

.info {
    background-color: $light;
    width: 100%;
    padding-bottom: 30px;

    h2 {
        @include fontStyle (20px, bolder);
        padding-top: 25px;
        margin-left: 35px;
    }

    &Articles {
        @include flexBox (column, center, center);
        width: 100%;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $light;

    }

    &Steps{
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: $lightGrey;
        padding: 25px;
        gap: 20px;
        width: 75%;
        border-radius: 25px;
        box-shadow: $shadow;

        &--purple {
            background-color: $btnPurple ;
        }
    }
}

.infoSteps-num {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    left: 0;
    margin-left: -7px;
    color:$light;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: $primary;
}

.infoSteps-icon {
    color: $greyIcon;
    padding-left: 20px;

    &--purple {
        color: $primary;
    }
}

.infoSteps-text {
    text-align: center;
}

/*Partie restaurants*/

#div-restaurant {
    margin-right: 0;
    padding-bottom: 50px;
    background-color: $lightGrey;
    h2 {
        @include fontStyle (20px, bolder);
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 20px;
        
       
    }
}
.card-resto {
    position: relative;
    @include cardResto;
}

.card-resto-img { 
    @include cardRestoImg
}

.cardNew {
    margin: 10px;
    position: absolute;
    top:0;
    right: 0;
    @include cardNouveau
}

.card-resto-info {
    @include flexBox (row, space-between, center);
    padding: 15px;
    line-height: 1.4;
    i {
        font-size: 24px;
    }
    
}
 /*Partie Footer*/

footer {
    @include footer;
    
}

@media only screen and (max-width:1440px) {
    #contentBlock {
        @include global (1440px);
    }

    .infoArticles {
        @include flexBox (row, center, center);
        width: 95%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .infoSteps {
        width: 30%;
        width: 350px;
    }

    .div-articles {
        @include flexBox (row, center, center);
        flex-wrap: wrap;
        
    }

    .card-resto {
        max-width: 45%;
        
    }
}