@import "../librairie/variables";
@import "../librairie/mixins";
@import "../librairie/reset";
@import "../librairie/keyframes";

body {
    background-color: $greyBody;
    font-family: $main-font;    
    h3 {
        @include fontStyle (16px, bolder);
    }
    p {
        @include fontStyle (16px, normal);  
    } 
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.854);
    animation: loader 0.1s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;   
}
.load {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.load-item {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius:50% ;
    animation: load 1s;
    animation-iteration-count: 3;
    
}
.load-item1 {
    background-color: $primary;  
}

.load-item2 {
    background-color: $secondary;
    animation-delay: $animationDelay ;   
}

.load-item3 {
    background-color: $tertiary;
    animation-delay: $animationDelay + 0.25;    
}

#contentBlock {
    @include global (768px);
}

header {
    @include flexBox (row, center, center);
    width: 100%;
    background-color: $light;

    .logo {
        width: 200px;  
        padding: 15px;      
    }   
}

.localization {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: $greyBody;
    box-shadow: $shadowInset;

    i {
        padding-right: 10px;
    }
}

/*Partie présentation*/

.introduction {
    @include flexBox (column, center, center);
    max-width: 100%;
    background-color: $lightGrey;
    text-align: center;
    padding: 20px;
    h1 {
        @include fontStyle (26px, bolder);
        padding: 10px;
    }
}

.btn {
    @include gradientBtn (200px);
}

/*Partie information sur l'APP*/

.info {
    background-color: $light;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
        @include fontStyle (20px, bolder);
        padding-top: 25px;
        padding-bottom: 20px;
        margin-left: 35px;
    }

    &Articles {
        @include flexBox (column, center, center);
        width: 100%;
        background-color: $light;

    }

    &Steps{
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: $lightGrey;
        padding: 20px;
        margin: 10px;
        width: 75%;
        max-width: 400px;
        border-radius: 25px;
        box-shadow: $shadow;

        &:hover {
            background-color: $purple;

            .infoSteps-icon {
                color:$primary;
            }

        }

        h3 {
            padding-left: 10px;    
        }
    }
}

.infoSteps-num {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    left: 0;
    margin-left: -7px;
    color:$light;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: $primary;
}

.infoSteps-icon {
    color: $greyIcon;
    padding: 10px;
    margin-left: 10px;
}


.infoSteps-text {
    text-align: center;
    padding: 10px;
   
}

/*Partie restaurants*/

#div-restaurant {
    margin-right: 0;
    padding-bottom: 50px;
    background-color: $lightGrey;
    h2 {
        @include fontStyle (22px, bolder);
        padding-top: 40px;
        padding-left: 15px;
        padding-bottom: 20px;
        
       
    }
}
.card-resto {
    position: relative;
    @include cardResto;
}

.card-resto-img { 
    @include cardRestoImg
}

.cardNew {
    margin: 10px;
    position: absolute;
    top:0;
    right: 0;
    @include cardNouveau
}

.card-resto-info {
    @include flexBox (row, space-between, center);
    position: relative;
    padding: 15px;
    line-height: 1.4;  
}

.fa-heart {
    font-size: 24px;
    
    &--purple {
        position: absolute;
        top: 24px;
        right: 0;
        font-size: 24px;
        font-weight: 900;
        padding-right: 15px;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.5s ease-in-out;
        opacity: 0;
    
        &:hover {
            opacity: 1;
        }
    }
}

 /*Partie Footer*/

footer {
    @include footer;
    
}

@media only screen and (min-width:769px) {
    #contentBlock {
        @include global (1440px);
    }

    .infoArticles {
        @include flexBox (row, center, center);
        width: 100%;
        margin: 0;
    }

    .infoSteps {
        width: 30%;
        width: 350px;
    }

    .div-articles {
        @include flexBox (row, center, center);
        flex-wrap: wrap;      
    }

    .card-resto {
        max-width: 45%;    
    }
}

@media only screen and (min-width:769px) {
    body {
        height: 100vh;
    }
    #contentBlock {
        height: 100vh;
    }
    .infoArticles {
        flex-wrap: wrap;
    }
    .infoSteps-text {
        white-space: nowrap;
    }
    footer {
        padding: 45px;
    }
}
